*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bulb{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: steelblue;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}